@font-family: "Open Sans", "Arial", sans-serif;

@font-size-base: 16px;
@font-size-secondary: 14px;

@line-height-base: 21px;

@text-color-base: #000000;

@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1150px)";
