.btn {
  display: block;
  padding: 16px 0;
  font-size: @font-size-base--bigger;
  line-height: 16px;
  font-weight: bold;
  color: @text-color-secondary;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid @text-color-secondary;
}
