.btn {
  display: block;
  padding: 13px 0;
  font-size: @font-size-base--bigger;
  font-weight: bold;
  color: @text-color-secondary;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid @text-color-secondary;
  box-sizing: border-box;
  outline: none;

  &--order {
    width: 259px;

  }

  &--basket {
    width: 100%;
    background-color: @bg-color-green;
    border: none;
    color: #ffffff;
  }

  &--contacts {
    width: 260px;
    margin: 0 auto;
  }
}

@media @tablet-width {
  .btn {
    &--order {
      width: 292px;
    }

    &--contacts {
      width: 230px;
    }
  }
}
