.features {
  display: flex;
  flex-direction: column;
  .add-margin();
  padding-top: 33px;
}

.features__item {
  margin-bottom: 30px;
}

.features__title {
  font-size: @font-size-base--bigger;
  font-weight: bold;
}
