.form-wrapper {
  margin: 0 30px;
}

.form-wrapper__text {
  margin-bottom: 30px;
  font-size: 13px;
  line-height: @line-height-base;
  color: @text-color-secondary;

  @media @tablet-width {
    padding: 0 50px;
    font-size: @font-size-base--bigger;
    line-height: 30px;
  }

  @media @desktop-width {
    width: 700px;
    margin-left: 218px;
    padding: 0;
  }
}


@media @tablet-width {
  .form-wrapper {
    width: 100%;
    margin: 0;
  }
}

@media @desktop-width {
  .form-wrapper {
    width: 100%;
  }
}
