.menu__list {
  position: absolute;
  z-index: 2;
  top: 80px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #ffffff;
  box-sizing: border-box;
}

.menu__item {
  padding: 27px 0;
  padding-left: 30px;
  text-align: left;
  border-top: 1px solid #ececec;
  box-sizing: border-box;

  &:first-child,
  &:nth-child(2) {
    padding-left: 76px
  }

  &:last-child {
    border-bottom: 1px solid #ececec;
  }

  &:last-child,
  &:nth-child(3) {
    .menu__link {
      margin-left: 26px;
    }
  }

  svg {
    vertical-align: middle;
    opacity: 0.2;
  }
}

.menu__link {
  display: inline-block;
  vertical-align: middle;
  font-family: @font-family;
  font-weight: bold;
  font-size: 17px;
  line-height: @line-height-base;
  text-decoration: none;
  color: @text-color-base;
}

.menu__toggle {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.menu {
  &--closed {
    .menu__toggle {
      &:before {
        position: absolute;
        content: "";
        top: 3px;
        left: 0;
        width: 20px;
        height: 2px;
        background-color: #000000;
        box-shadow: 0 6px 0 #000000, 0 12px 0 #000000;
      }
    }

    .menu__list {
      display: none;
    }
  }

  &--opened {
    .menu__toggle {
      &:before {
        position: absolute;
        content: "";
        top: 9px;
        left: 0;
        width: 20px;
        height: 2px;
        background-color: #000000;
        transform: rotate(-45deg);
      }

      &:after {
        position: absolute;
        top: 9px;
        left: 0;
        width: 20px;
        height: 2px;
        background-color: #000000;
        transform: rotate(45deg);
        content: "";
      }
    }

    .menu__list {
      display: block;
    }
  }
}


@media @tablet-width {

  .menu {
    &--opened,
    &--closed {
      .menu__list {
        display: flex;
      }
      .menu__toggle {
        display: none;
      }
    }
  }

  .menu__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: static;
    z-index: 1;
  }

  .menu__item {
    padding: 30px;
    border: none;

    &:first-child,
    &:nth-child(2) {
      position: absolute;
      bottom: -24px;
      padding: 0;
      margin: 0;
      z-index: 1;

      .menu__link {
        font-size: 15px;
      }
    }

    &:first-child {
      left: 50px;
    }

    &:nth-child(2) {
      left: 218px;
    }
    &:nth-child(3) {
      width: 82px;
      border-left: 1px solid #ececec;
      .menu__link {
        display: none;
      }
    }
    &:last-child {
      padding-right: 0;
      border-bottom: 0;
      border-left: 1px solid #ececec;
    }
  }
}

// @media @desktop-width {
//   .menu__item {
//     &:first-child,
//     &:nth-child(2) {
//       top: 50%;
//     }
//   }
// }


