.order-form {
  width: 100%;
  margin: 0;
  padding-bottom: 55px;
  box-sizing: border-box;
}

.order-form__block {
  margin-bottom: 43px;
  &:last-child {
    margin-bottom: 0;
  }
  &--type {
    .order-form__label {
      position: relative;
      padding-left: 62px;
      display: inline-block;

      &:before {
        position: absolute;
        left: 0;
        top: 50%;
        width: 40px;
        height: 40px;
        transform: translateY(-50%);
        border: 2px solid #444444;
        border-radius: 50%;
        content: "";
        }
      &:after {
        position: absolute;
        left: 14px;
        top: 50%;
        width: 16px;
        height: 16px;
        transform: translateY(-50%);
        background-color: #62d1ba;
        border-radius: 50%;
        content: "";
        opacity: 0
      }
    }
  }
  &--color {
    .order-form__label {
      position: relative;
      padding-left: 62px;
      display: inline-block;

      &:before {
        position: absolute;
        left: 0;
        top: 50%;
        width: 40px;
        height: 40px;
        transform: translateY(-50%);
        border: 2px solid #444444;
        content: "";
      }
      &:after {
        position: absolute;
        left: 13px;
        top: 10px;
        width: 18px;
        height: 9px;
        border: 2px solid #000000;
        border-top: none;
        border-right: none;
        transform: translateY(-50%) rotate(-45deg);
        content: "";
        opacity: 0
      }
    }
  }
  &--fio {
    .order-form__label {
      display: block;
    }

    .order-form__group {
      margin-bottom: 24px;
    }
  }
  &--tel,
  &--email {
    .order-form__title {
      margin-bottom: 9px;
    }
  }
}

.order-form__title {
  position: relative;
  margin-bottom: 27px;
  color: #63d1bb;
  font-size: @font-size-base--bigger;
  text-transform: uppercase;


}

.order-form__group {
  margin-bottom: 45px;
  &:last-child {
    margin-bottom: 0;
  }
}

.order-form__label {
  font-size: @font-size-base--bigger;
  font-weight: 700;
}

.order-form__radio,
.order-form__checkbox {
  display: none;
}

.order-form__input {
  width: 100%;
  padding: 18px 0;
  border: 2px solid #000000;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: #ffffff;
  box-sizing: border-box;
}

.order-form__textarea {
  width: 100%;
  padding: 17px;
  height: 142px;
  margin-bottom: 18px;
  font-size: 17px;
  background-color: #ffffff;
  border: 2px solid #000000;
  box-sizing: border-box;
  resize: none;
}

.order-form__legend {
  display: block;
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 16px;
  color: @text-color-secondary;
}

@media @tablet-width {
  .order-form__block {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 50px;
    margin-bottom: 0;

    &:nth-child(even):not(:last-child) {
      background-color: #f1f1f1;
    }

    &--color {
      .order-form__inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
      }

      .order-form__group {
        width: 50%;

        &:nth-child(1n+5) {
          margin-bottom: 0;
        }
      }
    }

    &--fio {
      .order-form__group {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .order-form__input {
        flex-grow: 1;
        margin-left: 26px;
      }
    }

    &--tel,
    &--email {
      .order-form__group {
        width: 500px;
      }
      .order-form__input {
        background-color: #f1f1f1;
      }
    }
    &--tel {
      padding-bottom: 0;
    }

    &--email {
      background-color: #f1f1f1;
    }

    &--additional {
      align-items: flex-start;
      .order-form__title {
        margin-bottom: 0;
      }
      .order-form__inner {
        position: relative;

        .order-form__legend {
          position: absolute;
          bottom: -70px;
          right: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  .order-form__title {
    width: 167px;
  }

  .order-form__inner {
    width: 500px;
  }
}



@media @desktop-width-narrow {
  .order-form__block {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 50px;
    padding-top: 50px;

    &--type,
    &--color {
      .order-form__label {
        position: relative;
        padding-left: 80px;
      }
    }

    &--type {
      .order-form__label {
        &:before {
          position: absolute;
          left: 0;
          top: 50%;
          width: 52px;
          height: 52px;
          transform: translateY(-50%);
          border: 2px solid #444444;
          border-radius: 50%;
          content: "";
        }
        &:after {
          position: absolute;
          left: 17px;
          top: 50%;
          width: 22px;
          height: 22px;
          transform: translateY(-50%);
          background-color: #62d1ba;
          border-radius: 50%;
          content: "";
          opacity: 0
        }
      }
    }

    &--color {
      .order-form__inner {
        display: flex;
        flex-wrap: wrap;
        width: 800px;
      }

      .order-form__group {
        width: 33%;

        &:nth-child(1n+4) {
          margin-bottom: 0;
        }
      }
      .order-form__label {
        &:before {
          position: absolute;
          left: 0;
          top: 50%;
          width: 52px;
          height: 52px;
          transform: translateY(-50%);
          border: 2px solid #444444;
          content: "";
        }
        &:after {
          position: absolute;
          left: 12px;
          top: 5px;
          width: 33px;
          height: 22px;
          transform: translateY(-50%) rotate(-45deg);
          border: 2px solid #000000;
          border-top: none;
          border-right: none;
          content: "";
          opacity: 0
        }
      }
    }
    &--fio {
      .order-form__inner {
        width: 700px;
      }

      .order-form__group {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .order-form__input {
        flex-grow: 1;
        margin-left: 26px;
        background-color: #ffffff;
      }
    }
    &--tel,
    &--email {
      .order-form__group {
        width: 700px;
      }

      .order-form__input {
        width: 100%;
        background-color: #f1f1f1;
      }
    }
    &--tel {
      padding-bottom: 0;
    }
    &--additional {
      background-color: #ffffff;
      .order-form__inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: center;
        width: 700px;
        position: relative;
      }
    }
  }

  .order-form__title {
    width: 175px;
    font-weight: 17px;
    text-transform: uppercase;
    text-align: center;
    color: #63d1bb;
  }

  .order-form__group {
    margin-bottom: 57px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .order-form__label {
    color: #000000;
    font-size: 19px;
    font-weight: 700;
  }

  .order-form__input {
    padding: 17px;
    border: none;
    border-bottom: 2px solid #000000;
    font-size: 19px;
    box-sizing: border-box;
  }

  .order-form__radio,
  .order-form__checkbox {
    display: none;
  }

  .order-form__textarea {
    width: 700px;
    padding: 17px;
    height: 142px;
    margin-bottom: 49px;
    font-size: 19px;
    background-color: #ffffff;
    border: 2px solid #000000;
    box-sizing: border-box;
    resize: none;
  }

  .order-form__legend {
    position: absolute;
    bottom: 15px;
    right: 0;
  }
}

input[type="tel"] {
  padding-right: 35px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center right;
}

input[type="email"] {
  padding-right: 35px;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: center right;
}

.order-form__radio:checked + .order-form__label,
.order-form__checkbox:checked + .order-form__label {
  &:after {
    opacity: 1;
  }
}



















