.page-header {
  position: relative;
  padding: 22px 0;
  border-bottom: 1px solid #ececec;
}

@media @tablet-width {
  .page-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 89px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
  }
}

@media @desktop-width {
  .page-header {
    padding: 0 100px;
  }
}
