.page-header {
  position: relative;
  padding: 22px 0;
  border-bottom: 1px solid #ececec;
}

@media @tablet-width {
  .page-header {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
    // .add-margin(50px);
  }
}
