.promo__description {
  margin-bottom: 34px;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @text-color-secondary;
}

.promo__properties {
  width: 100%;
  margin-bottom: 28px;
  font-size: @font-size-base;
  line-height: 20px;
  color: @text-color-secondary;

  tr {
    width: 100%;
    border-bottom: 1px solid #ececec;
  }

  td {
    padding: 14px 0;
  }
}

.promo__image {
  margin-bottom: 29px;
}

.promo__price {
  margin-bottom: 28px;
  font-size: @font-size-base--bigger;
  color: @text-color-secondary;
  font-weight: 700;
  line-height: @line-height-base;
  text-align: center;
}


@media @tablet-width {
  .promo {
    position: relative;
  }

  .promo__header {
    .section-header {
      font-size: 43px;
      line-height: 50px;
    }
  }

  .promo__description,
  .promo__properties,
  .promo__price {
    width: 290px;
  }

  .promo__description {
    line-height: 30px;
  }

  .promo__image {
    position: absolute;
    top: 80px;
    right: 0;
    width: 50%;
  }
}
