.reviews {
  position: relative;
  margin-bottom: 96px;

  &:after {
    position: absolute;
    bottom: -44px;
    left: -30px;
    width: 320px;
    height: 7px;
    background-image: url("../img/zigzag-line-mobile.png");
    content: "";
  }
}

.reviews__text {
  margin-bottom: 36px;
  line-height: 30px;
  font-size: @font-size-base;
  color: @text-color-secondary;
}

.reviews__author {
  margin-bottom: 36px;
}

.reviews__author-name {
  font-size: @font-size-base--bigger;
  line-height: @line-height-base;
  font-weight: 700;
}

.reviews__author-tag {
  font-size: @font-size-base--bigger;
  font-weight: 400;
  color: @text-color-secondary;
  line-height: 30px;
}

.reviews__controls {
  display: flex;
  flex-direction: row;
  width: 260px;
  margin-bottom: 38px;
  background-color: #ffffff;
}

.reviews__toggle {
  flex-grow: 1;
  padding: 13px 0;
  text-decoration: none;
  text-align: center;
  border: 1px solid #ececec;
  box-sizing: border-box;

  &:first-child {
    border-right: 0;
  }

  svg {
    vertical-align: middle;
  }
}

@media @tablet-width {
  .reviews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 86px;
    padding-bottom: 53px;
    margin-bottom: 68px;

    &:before {
      position: absolute;
      top: 0;
      left: -50px;
      width: 350px;
      height: 457px;
      background-image: url("../img/review@1x.jpg");
      background-repeat: no-repeat;
      content: "";
      z-index: -1;
    }

    &:after {
      position: absolute;
      bottom: -10px;
      left: -50px;
      width: 768px;
      height: 17px;
      background-image: url("../img/zigzag-line-tablet.png");
      content: "";
    }

    .section-header {
      order: -2;
      margin-bottom: 0;
    }

    .btn {
      width: 175px;
      order: -2;
    }
  }

  .reviews__text {
    margin-top: 65px;
  }

  .reviews__controls {
    justify-content: space-between;
    align-items: center;
    width: 137px;
  }

  .reviews__toggle {
    border: none;
  }
}

@media @desktop-width {
  .reviews {
    margin-bottom: 168px;
    &:before {
      left: 0;
    }

    &:after {
      position: absolute;
      bottom: -73px;
      left: 0;
      width: 1050px;
      height: 23px;
      background-image: url("../img/zigzag-line-desktop.png");
      content: "";
    }
  }
}
