.reviews {
  .add-margin();
}

.reviews__text {
  margin-bottom: 36px;
  line-height: 30px;
  color: @text-color-secondary;
}

.reviews__author {
  font-size: 18px;
  font-weight: bold;
  line-height: @line-height-base;
}

.reviews__author-tag {
  display: block;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 30px;
  color: @text-color-secondary;
}

.reviews__controls {
  margin-bottom: 38px;
  font-size: 0;
}

.reviews__toggle {
  display: inline-block;
  width: 50%;
  min-height: 52px;
  vertical-align: top;
  text-decoration: none;
  border: 1px solid #ececec;
  font-size: 15px;
  box-sizing: border-box;

  &--previous {
    border-right: none;
  }
}
